asgiref==3.8.1
Django==5.1.6
django-browser-reload==1.18.0
django-tailwind==3.8.0
gunicorn==23.0.0
packaging==24.2
pillow==11.1.0
sqlparse==0.5.3
tailwind==3.1.5b0
tzdata==2025.1
uv==0.6.4

# Production essentials
dj-database-url==2.1.0
whitenoise==6.6.0
python-dotenv==1.0.1  # optional
